{% extends '::layout.html.twig' %}

{% block content %}
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#future-competitions" aria-controls="future-competitions" role="tab" data-toggle="tab">{{ 'future_competitions'|trans|capitalize }}</a></li>
            <li role="presentation"><a href="#past-competitions" aria-controls="past-competitions" role="tab" data-toggle="tab">{{ 'past_competitions'|trans|capitalize }}</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="future-competitions">
                {% for competition in competitions if not competition.finished %}
                    <div class="list-group-item col-sm-12">
                        <div class="col-sm-3">
                            {% if competition.0.slug is not empty %}
                                <a href="{{ url('competition_view', {'slug': competition.0.slug}) }}">
                                    {% thumbnail competition.0.image, 'small' with {'class': 'img-responsive center-block'} %}
                                </a>
                            {% else %}
                                {% thumbnail competition.0.image, 'small' with {'class': 'img-responsive center-block'} %}
                            {% endif %}
                        </div>
                        <div class="col-sm-9">
                            {% if competition.0.slug is not empty and competition.0.title is not empty %}
                                <h2>
                                    <a href="{{ url('competition_view', {'slug': competition.0.slug}) }}">{{ competition.0.title }}</a>
                                </h2>
                            {% endif %}
                            <ul class="list-unstyled">
                                {% for tag in competition.0.tags if tag.enabled %}
                                    <li class="label label-primary">{{ tag.name }}</li>
                                {% endfor %}
                            </ul>
                            {% if competition.0.slug is not empty %}
                                {% if competition.registered %}
                                    <span class="text-success"><span class="glyphicon glyphicon-ok"></span> {{ 'already_registered'|trans|capitalize }}</span>
                                {% endif %}
                                <a href="{{ url('competition_sign_up', {'slug': competition.0.slug}) }}" class="btn btn-sm btn-success" role="button">
                                    {% if competition.registered %}
                                        {{ 'register_someone'|trans }}
                                    {% else %}
                                        {{ 'register_me'|trans }}
                                    {% endif %}
                                </a>
                            {% endif %}
                            <p>
                                <span class="glyphicon glyphicon-calendar"></span>
                                {{ 'date_range'|trans({'%from%': competition.0.startDate|date('d/m/Y H:i', false), '%to%': competition.0.endDate|date('d/m/Y H:i', false)})|capitalize }}
                            </p>
                            <p>
                                <span class="glyphicon glyphicon-map-marker"></span>
                                <a href="https://www.google.com/maps/search/?api=1&query={{ competition.0.address }}">{{ competition.0.address }}</a>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div role="tabpanel" class="tab-pane" id="past-competitions">
                {% for competition in competitions if competition.finished %}
                    <div class="list-group-item col-sm-12">
                        <div class="col-sm-3">
                            {% if competition.0.slug is not empty %}
                                <a href="{{ url('competition_view', {'slug': competition.0.slug}) }}">
                                    {% thumbnail competition.0.image, 'small' with {'class': 'img-responsive center-block'} %}
                                </a>
                            {% else %}
                                {% thumbnail competition.0.image, 'small' with {'class': 'img-responsive center-block'} %}
                            {% endif %}
                        </div>
                        <div class="col-sm-9">
                            {% if competition.0.slug is not empty and competition.0.title is not empty %}
                                <h2>
                                    <a href="{{ url('competition_view', {'slug': competition.0.slug}) }}">{{ competition.0.title }}</a>
                                </h2>
                            {% endif %}
                            <ul class="list-unstyled">
                                {% for tag in competition.0.tags if tag.enabled %}
                                    <li class="label label-primary">{{ tag.name }}</li>
                                {% endfor %}
                            </ul>
                            <p>
                                <span class="glyphicon glyphicon-calendar"></span>
                                {{ 'date_range'|trans({'%from%': competition.0.startDate|date('d/m/Y H:i', false), '%to%': competition.0.endDate|date('d/m/Y H:i', false)})|capitalize }}
                            </p>
                            <p>
                                <span class="glyphicon glyphicon-map-marker"></span>
                                <a href="https://www.google.com/maps/search/?api=1&query={{ competition.0.address }}">{{ competition.0.address }}</a>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}
