{% extends '::layout.html.twig' %}

{% block content %}
    <article>
        <header>
            <h1>{{ competition.title }}</h1>
            {% include '::tags.html.twig' with {'tags': competition.tags} %}
            {% media competition.image, 'reference' with {'class': 'img-responsive center-block'} %}
            <p>
                <span class="glyphicon glyphicon-calendar"></span>
                {{ 'date_range'|trans({'%from%': competition.startDate|date('d/m/Y H:i', false), '%to%': competition.endDate|date('d/m/Y H:i', false)})|capitalize }}
            </p>
            <p>
                <span class="glyphicon glyphicon-map-marker"></span>
                <a href="https://www.google.com/maps/search/?api=1&query={{ competition.address }}">{{ competition.address }}</a>
            </p>
        </header>
        {{ form_start(form) }}
        {% if form.itsMe is defined %}
            {{ form_widget(form.itsMe, {'label_attr': {'class': 'radio-inline'}}) }}
        {% endif %}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.dateOfBirth) }}
        {{ form_row(form.address) }}
        {% if form.trials is defined %}
            {{ form_row(form.trials) }}
        {% endif %}
        {% if form.referee is defined %}
            {{ form_row(form.referee) }}
        {% endif %}
        {{ form_end(form) }}
    </article>
{% endblock %}
