{% extends '::layout.html.twig' %}

{% block content %}
    <article>
        <header>
            <h1>
                {{ competition.0.title }}
            </h1>
            <ul class="list-unstyled">
                {% for tag in competition.0.tags if tag.enabled %}
                    <li class="label label-primary">{{ tag.name }}</li>
                {% endfor %}
            </ul>
            {% if not competition.finished %}
                {% if competition.registered %}
                    <span class="text-success"><span class="glyphicon glyphicon-ok"></span> {{ 'already_registered'|trans|capitalize }}</span>
                {% endif %}
                <a href="{{ path('competition_sign_up', {'slug': competition.0.slug}) }}" class="btn btn-sm btn-success" role="button">
                    {% if competition.registered %}
                        {{ 'register_someone'|trans }}
                    {% else %}
                        {{ 'register_me'|trans }}
                    {% endif %}
                </a>
            {% endif %}
            {% media competition.0.image, 'reference' with {'class': 'img-responsive center-block'} %}
            <p>
                <span class="glyphicon glyphicon-calendar"></span>
                {{ 'date_range'|trans({'%from%': competition.0.startDate|date('d/m/Y H:i', false), '%to%': competition.0.endDate|date('d/m/Y H:i', false)})|capitalize }}
            </p>
            <p>
                <span class="glyphicon glyphicon-map-marker"></span>
                <a href="https://www.google.com/maps/search/?api=1&query={{ competition.0.address }}">{{ competition.0.address }}</a>
            </p>
        </header>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#rules" aria-controls="rules" role="tab" data-toggle="tab">{{ 'rules'|trans|capitalize }}</a></li>
            <li role="presentation"><a href="#trials" aria-controls="trials" role="tab" data-toggle="tab">{{ 'trials'|trans|capitalize }}</a></li>
            {% if competition.finished %}
                <li role="presentation"><a href="#results" aria-controls="results" role="tab" data-toggle="tab">{{ 'results'|trans|capitalize }}</a></li>
            {% endif %}
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="rules">
                {{ competition.0.content|raw }}
            </div>
            <div role="tabpanel" class="tab-pane" id="trials">
                {% for trial in competition.0.trials %}
                    <div class="list-group-item">
                        <h2>{{ trial.name }}</h2>
                        <p>{{ trial.rules|raw }}</p>
                    </div>
                {% endfor %}
            </div>
            {% if competition.finished %}
                <div role="tabpanel" class="tab-pane" id="results">
                    {% for trial in competition.0.trials %}
                        <div class="list-group-item">
                            <h2>{{ trial.name }}</h2>
                            <ol>
                                {% for trialResult in trial.trialResults if trialResult.place is not null %}
                                    <li>{{ trialResult.participant.getFullName() }}</li>
                                {% endfor %}
                            </ol>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </article>
{% endblock %}
