{% extends '::layout.html.twig' %}

{% block content %}
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#future-shows" aria-controls="future-shows" role="tab" data-toggle="tab">{{ 'future_shows'|trans|capitalize }}</a></li>
            <li role="presentation"><a href="#past-shows" aria-controls="past-shows" role="tab" data-toggle="tab">{{ 'past_shows'|trans|capitalize }}</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="future-shows">
                {% for show in shows if not show.finished %}
                    <div class="list-group-item col-sm-12">
                        <div class="col-sm-3">
                            {% if show.0.slug is not empty %}
                                <a href="{{ url('show_view', {'slug': show.0.slug}) }}">
                                    {% thumbnail show.0.image, 'small' with {'class': 'img-responsive center-block'} %}
                                </a>
                            {% else %}
                                {% thumbnail show.0.image, 'small' with {'class': 'img-responsive center-block'} %}
                            {% endif %}
                        </div>
                        <div class="col-sm-9">
                            {% if show.0.slug is not empty and show.0.title is not empty %}
                                <h2>
                                    <a href="{{ url('show_view', {'slug': show.0.slug}) }}">{{ show.0.title }}</a>
                                </h2>
                            {% endif %}
                            <ul class="list-unstyled">
                                {% for tag in show.0.tags if tag.enabled %}
                                    <li class="label label-primary">{{ tag.name }}</li>
                                {% endfor %}
                            </ul>
                            {% if show.0.slug is not empty %}
                                {% if show.registered %}
                                    <span class="text-success"><span class="glyphicon glyphicon-ok"></span> {{ 'already_registered'|trans|capitalize }}</span>
                                {% endif %}
                                <a href="{{ url('show_sign_up', {'slug': show.0.slug}) }}" class="btn btn-sm btn-success" role="button">
                                    {% if show.registered %}
                                        {{ 'register_someone'|trans }}
                                    {% else %}
                                        {{ 'register_me'|trans }}
                                    {% endif %}
                                </a>
                            {% endif %}
                            <p>
                                <span class="glyphicon glyphicon-calendar"></span>
                                {{ 'date_range'|trans({'%from%': show.0.startDate|date('d/m/Y H:i', false), '%to%': show.0.endDate|date('d/m/Y H:i', false)})|capitalize }}
                            </p>
                            <p>
                                <span class="glyphicon glyphicon-map-marker"></span>
                                <a href="https://www.google.com/maps/search/?api=1&query={{ show.0.address }}">{{ show.0.address }}</a>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div role="tabpanel" class="tab-pane" id="past-shows">
                {% for show in shows if show.finished %}
                    <div class="list-group-item col-sm-12">
                        <div class="col-sm-3">
                            {% if show.0.slug is not empty %}
                                <a href="{{ url('show_view', {'slug': show.0.slug}) }}">
                                    {% thumbnail show.0.image, 'small' with {'class': 'img-responsive center-block'} %}
                                </a>
                            {% else %}
                                {% thumbnail show.0.image, 'small' with {'class': 'img-responsive center-block'} %}
                            {% endif %}
                        </div>
                        <div class="col-sm-9">
                            {% if show.0.slug is not empty and show.0.title is not empty %}
                                <h2>
                                    <a href="{{ url('show_view', {'slug': show.0.slug}) }}">{{ show.0.title }}</a>
                                </h2>
                            {% endif %}
                            <ul class="list-unstyled">
                                {% for tag in show.0.tags if tag.enabled %}
                                    <li class="label label-primary">{{ tag.name }}</li>
                                {% endfor %}
                            </ul>
                            <p>
                                <span class="glyphicon glyphicon-calendar"></span>
                                {{ 'date_range'|trans({'%from%': show.0.startDate|date('d/m/Y H:i', false), '%to%': show.0.endDate|date('d/m/Y H:i', false)})|capitalize }}
                            </p>
                            <p>
                                <span class="glyphicon glyphicon-map-marker"></span>
                                <a href="https://www.google.com/maps/search/?api=1&query={{ show.0.address }}">{{ show.0.address }}</a>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}
