{% extends '::layout.html.twig' %}

{% block content %}
    <article>
        <header>
            <h1>{{ show.title }}</h1>
            <ul class="list-unstyled">
                {% for tag in show.tags if tag.enabled %}
                    <li class="label label-primary">{{ tag.name }}</li>
                {% endfor %}
            </ul>
            {% media show.image, 'reference' with {'class': 'img-responsive center-block'} %}
            <p>
                <span class="glyphicon glyphicon-calendar"></span>
                {{ 'date_range'|trans({'%from%': show.startDate|date('d/m/Y H:i', false), '%to%': show.endDate|date('d/m/Y H:i', false)})|capitalize }}
            </p>
            <address>
                <span class="glyphicon glyphicon-map-marker"></span>
                <a href="https://www.google.com/maps/search/?api=1&query={{ show.address }}">{{ show.address }}</a>
            </address>
        </header>
        <hr />
        <p>{{ show.content|raw }}</p>
    </article>
{% endblock %}
