{% extends '::layout.html.twig' %}

{% block content %}
    <article>
        <header>
            <h1>{{ show.0.title }}</h1>
            {% include '::tags.html.twig' with {'tags': show.0.tags} %}
            {% if not show.finished and show.0.slug is not empty %}
                {% if show.registered %}
                    <span class="text-success"><span class="glyphicon glyphicon-ok"></span> {{ 'already_registered'|trans|capitalize }}</span>
                {% endif %}
                <a href="{{ url('show_sign_up', {'slug': show.0.slug}) }}" class="btn btn-sm btn-success" role="button">
                    {% if show.registered %}
                        {{ 'register_someone'|trans }}
                    {% else %}
                        {{ 'register_me'|trans }}
                    {% endif %}
                </a>
            {% endif %}
            {% media show.0.image, 'reference' with {'class': 'img-responsive center-block'} %}
            <p>
                <span class="glyphicon glyphicon-calendar"></span>
                {{ 'date_range'|trans({'%from%': show.0.startDate|date('d/m/Y H:i', false), '%to%': show.0.endDate|date('d/m/Y H:i', false)})|capitalize }}
            </p>
            <p>
                <span class="glyphicon glyphicon-map-marker"></span>
                <a href="https://www.google.com/maps/search/?api=1&query={{ show.0.address }}">{{ show.0.address }}</a>
            </p>
        </header>
        <hr />
        <p>{{ show.0.content|raw }}</p>
    </article>
{% endblock %}
