<header id="header">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">{{ 'nav.toggle'|trans([], 'navigation') }}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                {{ knp_menu_render('NCBundle:Builder:mainMenu') }}
                <ul class="nav navbar-nav navbar-right">
                    {% include '::language_dropdown.html.twig' %}
                    {# DISABLING AUTHENTICATION FOR NOW, UNTIL WE MAKE IT A PROPER FUNCTIONNALITY #}
                    {#<li class="dropdown">#}
                        {#<a href="#" id="dropdown-profile" class="dropdown-toggle" data-toggle="dropdown" role="button">#}
                            {#{% if app.user %}#}
                                {#{{ app.user.username }}#}
                            {#{% endif %}#}
                            {#{% image 'bundles/nc/images/NC_account_icon.png' output='assetic/account_icon.png' %}#}
                                {#<img src="{{ asset_url }}" alt="Account" title="My account" />#}
                            {#{% endimage %}#}
                        {#</a>#}
                        {#<ul class="dropdown-menu" aria-labelledby="dropdown-profile">#}
                            {#{% if app.user %}#}
                                {#{% if is_granted('ROLE_ADMIN') %}#}
                                    {#<li><a href="{{ url('sonata_admin_dashboard') }}">{{ 'menu.administration'|trans({}, 'navigation') }}</a></li>#}
                                {#{% endif %}#}
                                {#<li><a href="{{ url('fos_user_profile_show') }}">{{ 'profile.show.link'|trans }}</a></li>#}
                                {#<li role="separator" class="divider"></li>#}
                                {#<li><a href="{{ url('application_sonata_user_log_out') }}">{{ 'log_out'|trans }}</a></li>#}
                            {#{% else %}#}
                                {#<li>#}
                                    {#<a href="{{ url('application_sonata_user_log_in') }}">#}
                                        {#{{ 'menu.log_in'|trans({}, 'navigation') }}#}
                                    {#</a>#}
                                {#</li>#}
                            {#{% endif %}#}
                        {#</ul>#}
                    {#</li>#}
                </ul>
            </div>
        </div>
    </nav>
</header>
