<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Nunchaku de combat{% endblock %}</title>
        {# favicon across multiple devices/platforms #}
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('images/favicon/apple-touch-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('images/favicon/apple-touch-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('images/favicon/apple-touch-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('images/favicon/apple-touch-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('images/favicon/apple-touch-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('images/favicon/apple-touch-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('images/favicon/apple-touch-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('images/favicon/apple-touch-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/favicon/apple-touch-icon-180x180.png') }}">
        <link rel="icon" type="image/png" href="{{ asset('images/favicon/favicon-32x32.png" sizes="32x32') }}">
        <link rel="icon" type="image/png" href="{{ asset('images/favicon/android-chrome-192x192.png" sizes="192x192') }}">
        <link rel="icon" type="image/png" href="{{ asset('images/favicon/favicon-96x96.png" sizes="96x96') }}">
        <link rel="icon" type="image/png" href="{{ asset('images/favicon/favicon-16x16.png" sizes="16x16') }}">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#7d0404">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="/mstile-144x144.png">
        <meta name="theme-color" content="#ffffff">
        {% javascripts
            'js/jquery/jquery.min.js'
            'js/jquery/*'
            'js/bootstrap/*'
            '@NCBundle/Resources/public/js/*'
            output='assetic/app.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}
        {% endblock %}
        {% stylesheets
            'css/bootstrap/*'
            'bundles/nc/css/*'
            filter='cssrewrite'
            output='assetic/app.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <header id="header">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="{{ path('homepage') }}" class="navbar-brand">
                            {% image '@NCBundle/Resources/public/images/NC_logo.png' output='assetic/logo.png' %}
                            <img src="{{ asset_url }}" alt="Nunchaku de combat" title="Nunchaku de combat"/>
                            {% endimage %}
                        </a>
                    </div>
                    <div class="navbar-collapse collapse">
                        {{ knp_menu_render('NCBundle:Builder:mainMenu') }}
                        {% if app.user %}
                            {% image '@NCBundle/Resources/public/images/NC_account_icon.png' output='assetic/account_icon.png' %}
                            <img src="{{ asset_url }}" alt="Account" title="My account" class ="pull-right" />
                            {% endimage %}
                        {% else %}
                            <ul class="nav navbar-nav pull-right">
                                <li{% if app.request.attributes.get('_route') == 'fos_user_security_login' %} class="current"{% endif %}>
                                    <a href="{{ path('fos_user_security_login') }}">
                                        {{ 'menu.log_in'|trans({}, 'navigation') }}
                                    </a>
                                <li{% if app.request.attributes.get('_route') == 'fos_user_registration_register' %} class="current"{% endif %}>
                                    <a href="{{ path('fos_user_registration_register') }}">
                                        {{ 'menu.register'|trans({}, 'navigation') }}
                                    </a>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            {# If a translation exists for the current route, we display it #}
            {% if ('h1.'~app.request.attributes.get('_route'))|trans({}, 'navigation') != 'h1.'~app.request.attributes.get('_route') %}
                <h1>{{ ('h1.'~app.request.attributes.get('_route'))|trans({}, 'navigation') }}</h1>
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
        <footer class="text-center">
            <div class="container">
                <a class="btn btn-primary" href="#header" role="button">Back To Top</a>
                <div class="footer_container">
                    <ul class="list-inline">
                        <li>
                            <a href="#">
                                <span class="social-icon-fb"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="social-icon-rss"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="social-icon-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="social-icon-linkedin"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="social-icon-dribbble"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer_bottom_content">
                    Copyright © 2016 Alexandre Duchêne
                </div>
            </div>
        </footer>
    </body>
</html>
