{% set locale = app.request.locale %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Nunchaku de combat{% endblock %}</title>
        {% include '::favicon.html.twig' %}
        {% javascripts
            'js/jquery/jquery.min.js'
            'js/jquery/*'
            'js/bootstrap/*'
            'bundles/sonatacore/vendor/moment/min/moment.min.js'
            'bundles/sonatacore/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js'
            output='assetic/vendor.js'
        %}
            <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
        {# localize moment #}
        {% if locale[:2] != 'en' %}
            <script src="{{ asset(
                'bundles/sonatacore/vendor/moment/locale/' ~
                locale|lower|replace({'_':'-'}) ~
                '.js'
            ) }}"></script>
        {% endif %}
        {% block javascripts %}
            {% javascripts
                'bundles/nc/js/*'
                output='assetic/nc.js'
            %}
                <script src="{{ asset_url }}" type="text/javascript"></script>
            {% endjavascripts %}
        {% endblock %}
        {% stylesheets
            'css/bootstrap/core/*'
            'css/bootstrap/bootstrap-social/bootstrap-social.css'
            'css/bootstrap/languages/languages.min.css'
            'css/fontawesome/core/fontawesome-all.min.css'
            'bundles/sonataadmin/vendor/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css'
            'bundles/sonatacore/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css'
            'bundles/nc/css/*'
            filter='cssrewrite'
            output='assetic/nc.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% include '::header.html.twig' %}
        {{ include('::flash_messages.html.twig') }}
        <section class="container">
            {% if app.request.attributes.get('breadcrumb') is defined and app.request.attributes.get('breadcrumb') %}
                {% include '::breadcrumb.html.twig' %}
            {% endif %}

            {# If a translation exists for the current route, we display it as the main title #}
            {% if ('h1.'~app.request.attributes.get('_route'))|trans({}, 'navigation') != 'h1.'~app.request.attributes.get('_route') %}
                <h1>{{ ('h1.'~app.request.attributes.get('_route'))|trans({}, 'navigation') }}</h1>
            {% endif %}

            {% block content %}
            {% endblock %}
        </section>
        {% include '::footer.html.twig' %}
    </body>
</html>
