{% extends '::layout.html.twig' %}

{% block content %}
    {% for technique in techniques %}
        {% if loop.first %}
            <h1>
                {{ technique.collection.name }}
            </h1>
            <p>
                {{ technique.collection.description }}
            </p>
        {% endif %}
            <div class="col-sm-12 list-group-item">
                <div class="col-sm-3">
                    {% if technique.slug is not empty %}
                        <a href="{{ url('technique_view', {'slug': technique.slug }) }}">
                            {% thumbnail technique.image, 'small' with {'class': 'img-responsive center-block'} %}
                        </a>
                    {% else %}
                        {% thumbnail technique.image, 'small' with {'class': 'img-responsive center-block'} %}
                    {% endif %}
                </div>
                <div class="col-sm-9">
                    {% if technique.slug is not empty and technique.title is not empty %}
                        <h2>
                            <a href="{{ url('technique_view', {'slug': technique.slug }) }}">{{ technique.title }}</a>
                        </h2>
                    {% endif %}
                    {% include '::tags.html.twig' with {'tags': technique.tags} %}
                    <ul class="list-unstyled">
                        {% for techniqueExecution in technique.techniqueExecutions if techniqueExecution.exercise.slug is not empty and techniqueExecution.exercise.title is not empty %}
                            <li><a href="{{ url('exercise_view', {'slug': techniqueExecution.exercise.slug}) }}">{{ techniqueExecution.exercise.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
    {% endfor %}
{% endblock %}
