{% extends '::layout.html.twig' %}

{% block content %}
    {% for technique in techniques %}
        {% if loop.first %}
            <h1>
                {{ technique.collection.name }}
            </h1>
            <p>
                {{ technique.collection.description }}
            </p>
        {% endif %}
            <div class="col-sm-12 list-group-item">
                <div class="col-sm-3">
                    {% thumbnail technique.image, 'small' with {'class': 'img-responsive center-block'} %}
                </div>
                <div class="col-sm-9">
                    <h2>
                        <a href="{{ url('technique_view', {'slug': technique.slug }) }}">{{ technique.title }}</a>
                    </h2>
                    <ul class="list-unstyled">
                        {% for tag in technique.tags if tag.enabled %}
                            <li class="label label-primary">{{ tag.name }}</li>
                        {% endfor %}
                    </ul>
                    <ul class="list-unstyled">
                        {% for techniqueExecution in technique.techniqueExecutions %}
                            <li><a href="{{ path('exercise_view', {'slug': techniqueExecution.exercise.slug}) }}">{{ techniqueExecution.exercise.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
    {% endfor %}
{% endblock %}
