{% extends '::layout.html.twig' %}

{% block content %}
    <article>
        <header>
            <h1>{{ trainingCourse.title }}</h1>
            {% include '::tags.html.twig' with {'tags': trainingCourse.tags} %}
            {% media trainingCourse.image, 'reference' with {'class': 'img-responsive center-block'} %}
            <p>
                <span class="glyphicon glyphicon-calendar"></span>
                {{ 'date_range'|trans({'%from%': trainingCourse.startDate|date('d/m/Y H:i', false), '%to%': trainingCourse.endDate|date('d/m/Y H:i', false)})|capitalize }}
            </p>
            <p>
                <span class="glyphicon glyphicon-map-marker"></span>
                <a href="https://www.google.com/maps/search/?api=1&query={{ trainingCourse.address }}">{{ trainingCourse.address }}</a>
            </p>
        </header>
        {{ form_start(form) }}
        {% if form.itsMe is defined %}
            {{ form_widget(form.itsMe, {'label_attr': {'class': 'radio-inline'}}) }}
        {% endif %}
        {{ form_row(form.lastname) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.dateOfBirth) }}
        {% if form.trainer is defined %}
            {{ form_row(form.trainer) }}
        {% endif %}
        {{ form_end(form) }}
    </article>
{% endblock %}
