{% extends '::layout.html.twig' %}

{% block content %}
    <article>
        <header>
            <h1>{{ trainingCourse.0.title }}</h1>
            <ul class="list-unstyled">
                {% for tag in trainingCourse.0.tags if tag.enabled %}
                    <li class="label label-primary">{{ tag.name }}</li>
                {% endfor %}
            </ul>
            {% if not trainingCourse.finished and trainingCourse.0.slug is not empty %}
                {% if trainingCourse.registered %}
                    <span class="text-success"><span class="glyphicon glyphicon-ok"></span> {{ 'already_registered'|trans|capitalize }}</span>
                {% endif %}
                <a href="{{ url('training_course_sign_up', {'slug': trainingCourse.0.slug}) }}" class="btn btn-sm btn-success" role="button">
                    {% if trainingCourse.registered %}
                        {{ 'register_someone'|trans }}
                    {% else %}
                        {{ 'register_me'|trans }}
                    {% endif %}
                </a>
            {% endif %}
            {% media trainingCourse.0.image, 'reference' with {'class': 'img-responsive center-block'} %}
            <p>
                <span class="glyphicon glyphicon-calendar"></span>
                {{ 'date_range'|trans({'%from%': trainingCourse.0.startDate|date('d/m/Y H:i', false), '%to%': trainingCourse.0.endDate|date('d/m/Y H:i', false)})|capitalize }}
            </p>
            <p>
                <span class="glyphicon glyphicon-map-marker"></span>
                <a href="https://www.google.com/maps/search/?api=1&query={{ trainingCourse.0.address }}">{{ trainingCourse.0.address }}</a>
            </p>
        </header>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">{{ 'content'|trans|capitalize }}</a></li>
            <li role="presentation"><a href="#exercises" aria-controls="exercises" role="tab" data-toggle="tab">{{ 'exercises'|trans|capitalize }}</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="content">
                {{ trainingCourse.0.content|raw }}
            </div>
            <div role="tabpanel" class="tab-pane" id="exercises">
                {% for exercise in trainingCourse.0.exercises %}
                    <div class="col-sm-12 list-group-item">
                        <div class="col-sm-3">
                            {% if exercise.slug is not empty %}
                                <a href="{{ url('exercise_view', {'slug': exercise.slug }) }}">
                                    {% thumbnail exercise.image, 'small' with {'class': 'img-responsive center-block'} %}
                                </a>
                            {% else %}
                                {% thumbnail exercise.image, 'small' with {'class': 'img-responsive center-block'} %}
                            {% endif %}
                        </div>
                        <div class="col-sm-9">
                            {% if exercise.slug is not empty and exercise.title is not empty %}
                                <h2>
                                    <a href="{{ url('exercise_view', {'slug': exercise.slug }) }}">{{ exercise.title }}</a>
                                </h2>
                            {% endif %}
                            <ul class="list-unstyled">
                                {% for tag in exercise.tags if tag.enabled %}
                                    <li class="label label-primary">{{ tag.name }}</li>
                                {% endfor %}
                            </ul>
                            <ul class="list-unstyled">
                                {% for techniqueExecution in exercise.techniqueExecutions if techniqueExecution.technique.slug is not empty and techniqueExecution.technique.title is not empty %}
                                    <li><a href="{{ url('technique_view', {'slug': techniqueExecution.technique.slug}) }}">{{ techniqueExecution.technique.title }}</a> {{ techniqueExecution.detail }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </article>
{% endblock %}
