{% extends '::layout.html.twig' %}

{% block content %}
    <article>
        <header>
            <h1>{{ rank.style.title }}</h1>
            <ul>
                {% for tag in rank.style.tags if tag.enabled %}
                    <li class="label label-primary">{{ tag.name }}</li>
                {% endfor %}
            </ul>
            {% media rank.style.image, 'reference' with {'class': 'img-responsive center-block'} %}
        </header>
        <p class="post">
            {{ rank.content|raw }}
        </p>
            {% for rankRequirement in rank.rankRequirements %}
                <div class="list-group-item col-sm-12">
                    <div class="col-sm-3">
                        {% thumbnail rankRequirement.exercise.image, 'small' with {'class': 'img-responsive center-block'} %}
                    </div>
                    <div class="col-sm-9">
                        <h2><a href="{{ path('exercise_view', {'slug': rankRequirement.exercise.slug}) }}">{{ rankRequirement.exercise.title }}</a><span class="badge pull-right">{{ rankRequirement.points }} {{ 'points'|trans }}</span></h2>
                        {% for tag in rankRequirement.exercise.tags if tag.enabled %}
                            <li class="label label-primary">{{ tag.name }}</li>
                        {% endfor %}
                        <p>
                            {{ rankRequirement.exercise.content|raw }}<hr /><strong>{{ rankRequirement.detail }}</strong>
                        </p>
                    </div>
                </div>
            {% endfor %}
    </article>
{% endblock %}
