{% extends '::layout.html.twig' %}

{% block javascripts %}
    {% javascripts '@NCFrontBundle/Resources/public/js/*' output='assetic/nc_front.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block stylesheets %}
    {% stylesheets 'bundles/ncfront/css/*' filter='cssrewrite' output='assetic/nc_front.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <header id="header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{{ path('homepage') }}" class="navbar-brand">
                        {% image '@NCFrontBundle/Resources/public/images/NC_logo.png' output='assetic/logo.png' %}
                            <img src="{{ asset_url }}" alt="Nunchaku de combat" title="Nunchaku de combat"/>
                        {% endimage %}
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" style="margin-top: 40px;">
                        <li>
                            <a href="{{ path('homepage') }}"
                            {% if app.request.attributes.get('_route') == 'homepage' %}
                                class="active"
                            {% endif %}
                            >HOME</a>
                        </li>
                        <li><a href="#">NEWS</a></li>
                        <li><a href="#">EVENEMENTS</a></li>
                        <li><a href="#">PROGRAMME OFFICIEL</a></li>
                        <li><a href="#">EXERCICES</a></li>
                        <li><a href="#">WIKI</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    <footer class="text-center">
        <div class="container">
            <a class="btn btn-primary" href="#header" role="button">Back To Top</a>
            <div class="footer_container">
                <ul class="list-inline">
                    <li>
                        <a href="#">
                            <span class="social-icon-fb"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="social-icon-rss"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="social-icon-twitter"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="social-icon-linkedin"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="social-icon-dribbble"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer_bottom_content">
                Copyright © 2016 Alexandre Duchêne</span>
            </div>
        </div>
    </footer>
{% endblock %}
