{% extends '::layout.html.twig' %}

{% block content %}
    {% for exercise in exercises %}
        {% if loop.first %}
            <h1>
                {{ exercise.collection.name }}
            </h1>
            <p>
                {{ exercise.collection.description }}
            </p>
        {% endif %}
            <div class="col-sm-12 list-group-item">
                <div class="col-sm-3">
                    {% thumbnail exercise.image, 'small' with {'class': 'img-responsive center-block'} %}
                </div>
                <div class="col-sm-9">
                    <h2>
                        <a href="{{ url('exercise_view', {'slug': exercise.slug }) }}">{{ exercise.title }}</a>
                    </h2>
                    <ul>
                        {% for tag in exercise.tags if tag.enabled %}
                            <li class="label label-primary">{{ tag.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
    {% endfor %}
{% endblock %}
