{% extends '::layout.html.twig' %}

{% block content %}
    {% for exercise in exercises %}
        {% if loop.first %}
            <h1>
                {{ exercise.collection.name }}
            </h1>
            <p>
                {{ exercise.collection.description }}
            </p>
        {% endif %}
            <div class="col-sm-12 list-group-item">
                <div class="col-sm-3">
                    {% if exercise.slug is not empty %}
                        <a href="{{ url('exercise_view', {'slug': exercise.slug }) }}">
                            {% thumbnail exercise.image, 'small' with {'class': 'img-responsive center-block'} %}
                        </a>
                    {% else %}
                        {% thumbnail exercise.image, 'small' with {'class': 'img-responsive center-block'} %}
                    {% endif %}
                </div>
                <div class="col-sm-9">
                    {% if exercise.slug is not empty and exercise.title is not empty %}
                        <h2>
                            <a href="{{ url('exercise_view', {'slug': exercise.slug }) }}">{{ exercise.title }}</a>
                        </h2>
                    {% endif %}
                    <ul class="list-unstyled">
                        {% for tag in exercise.tags if tag.enabled %}
                            <li class="label label-primary">{{ tag.name }}</li>
                        {% endfor %}
                    </ul>
                    <ul class="list-unstyled">
                        {% for techniqueExecution in exercise.techniqueExecutions if techniqueExecution.technique.slug is not empty and techniqueExecution.technique.title is not empty %}
                            <li><a href="{{ url('technique_view', {'slug': techniqueExecution.technique.slug}) }}">{{ techniqueExecution.technique.title }}</a> {{ techniqueExecution.detail }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
    {% endfor %}
{% endblock %}
