{% extends '::layout.html.twig' %}

{% block content %}
    <article>
        <header>
            <h1>{{ exercise.title }}</h1>
            <ul class="list-unstyled">
                {% for tag in exercise.tags if tag.enabled %}
                    <li class="label label-primary">{{ tag.name }}</li>
                {% endfor %}
            </ul>
            {% media exercise.image, 'reference' with {'class': 'img-responsive center-block'} %}
        </header>
        <hr />
        <p class="post">
            {% if exercise.supplies|length > 0 %}
                <strong>{{ 'required_supplies'|trans|capitalize }}</strong> :
                    {% for supply in exercise.supplies if supply.slug is not empty and supply.title is not empty %}
                        {% set supplies = supplies|merge([supply]) %}
                    {% endfor %}
                    {% for supply in suplies %}
                        <a href="{{ url('supply_view', {'slug': supply.slug }) }}">{{ supply.title }}</a>
                        {% if not loop.last %}
                            ,
                        {% endif %}
                    {% endfor %}
            {% endif %}
            <hr />
            <ul class="list-unstyled">
                {% for techniqueExecution in exercise.techniqueExecutions if techniqueExecution.technique.slug is not empty and techniqueExecution.technique.title is not empty %}
                    <a href="{{ url('technique_view', {'slug': techniqueExecution.technique.slug}) }}">{{ techniqueExecution.technique.title }}</a> {{ techniqueExecution.detail }}
                {% endfor %}
            </ul>
            <hr />
            {{ exercise.content|raw }}
        </p>
    </article>
{% endblock %}
