{% extends '::layout.html.twig' %}

{% block content %}
    <article>
        <header>
            <h1>{{ post.title }}</h1>
            {% include '::tags.html.twig' with {'tags': post.tags} %}
            <p>
                <small>{{ 'by'|trans|capitalize }} <strong>{{ post.author }} |</strong> {{ 'published_on'|trans|capitalize }} <strong>{{ post.publicationDateStart|format_datetime }} |</strong> {{ 'updated_on'|trans|capitalize }} <strong>{{ post.updatedAt|format_datetime }}</strong></small>
            </p>
            {% media post.image, 'reference' with {'class': 'img-responsive center-block'} %}
        </header>
        <p class="abstract">
            {{ post.abstract }}
        </p>
        <p class="post">
            {{ post.content|raw }}
        </p>
    </article>
{# TODO MESSAGE COMMENTS #}
    {#{{ render(controller('SonataNewsBundle:Post:comments', {'postId': post.id})) }}#}
    {#{% if post.iscommentable %}#}
        {#{{ render(controller('SonataNewsBundle:Post:addCommentForm', {#}
            {#'postId': post.id,#}
            {#'form': form#}
        {#})) }}#}
    {#{% else %}#}
    {#{% endif %}#}
{% endblock %}
